@use '../abstracts';

.wrap {
  width: 80%;
  margin: 0 auto;
  max-width: 1200px;
  border: 2px solid yellow;
}

//// Section One ///////

.one {
  padding: 6rem 0;
  border: 2px solid red;
}

.section__one__wrap {
  position: relative;
  z-index: 0;
  &::after {
    content: "";
    display: block;
    width: 80%;
    height: 30px;
    background-color: abstracts.$mYellow;
    position: absolute;
    top: 20rem;
    left: 0;
  }
}

.fern {
  width: 310px;
}
.chef__img {
  width: 300px;
  position: absolute;
  top: -25px;
  right: 0;
}
.chef__img::after {
  content: "";
  background: red;
  height: 30px;
  width: 50px;
  bottom: 0;
  left: 0;
  position: absolute;
  display: block;
}
.one__card {
  z-index: -1;
  margin-top: -95px;
  padding: 10rem 2rem 4rem;
  background-color: abstracts.$silver;
  position: relative;
  p {
    margin-bottom: 2rem;
  }
  a {
    background-color: abstracts.$mYellow;
    width: 150px;
    text-align: center;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    padding: 1rem 0;
  }
  &__stripes {
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: repeating-linear-gradient(
      45deg,
      transparent 0 20px,
      black 20px 40px
    );
  }
}
