@use '../abstracts';

.wrap {
  width: 80%;

  @include abstracts.mq(600px) {
    width: 90%;
  }
  margin: 0 auto;
  max-width: 1200px;
}

//// Section One ///////

.one {
  padding: 6rem 0;
}

.section__one__wrap {
  position: relative;
  max-width: 380px;
  @include abstracts.mq(600px) {
    max-width: 530px;
  }
  @include abstracts.mq(800px) {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
  }
  margin: 0 auto;
  z-index: 0;
  &::after {
    content: "";
    display: block;
    width: 80%;
    height: 30px;
    background-color: abstracts.$mYellow;
    position: absolute;
    top: 21rem;
    left: 0;
    @include abstracts.mq(600px) {
      top: 30rem;
    }
    @include abstracts.mq(800px) {
      width: 430px;
      left: -50px;
      top: 38rem;
      z-index: 6;
    }
  }
}

.header__img__wrap {
  position: relative;
  .fern {
    width: 310px;
    @include abstracts.mq(600px) {
      width: 405px;
    }
    @include abstracts.mq(800px) {
      position: relative;
      // left: 110px;
      z-index: 1;
    }
  }

  .chef__img {
    position: absolute;
    top: -25px;
    right: -20px;
    width: 300px;
    @include abstracts.mq(600px) {
      width: 400px;
    }
    @include abstracts.mq(800px) {
      z-index: 5;
      right: initial;
      left: 35px;
      top: 45px;
    }
  }
}

.one__card {
  z-index: -1;
  margin-top: -95px;
  padding: 10rem 2rem 4rem;
  background-color: abstracts.$silver;
  position: relative;
  @include abstracts.mq(600px) {
    width: 70%;
    margin-left: 200px;
  }
  @include abstracts.mq(800px) {
    margin: 0;
    padding: 0 2rem;
    top: -1rem;
    width: 55%;
    height: 750px;
    z-index: initial;
  }
  &__text {
    @include abstracts.mq(800px) {
      position: relative;
      top: 10rem;
      z-index: 10;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0 4rem;
    }
  }
  p {
    margin-bottom: 2rem;
  }
  a {
    background-color: abstracts.$mYellow;
    width: 150px;
    text-align: center;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    padding: 1rem 0;
  }
  &__stripes {
    width: 100%;
    height: 30px;
    position: absolute;
    top: 96%;
    left: 0;
    @include abstracts.mq(600px) {
      width: 110%;
      top: 15%;
      left: -55%;
    }
    @include abstracts.mq(800px) {
      width: 360px;
      top: initial;
      bottom: -30px;
      left: -400px;
    }
    background-image: repeating-linear-gradient(
      45deg,
      transparent 0 20px,
      black 20px 40px
    );
  }
}

//// Section One END ////

/// Section Two ////

.flex__wrap {
  @include abstracts.flex(column) {
    align-items: center;
    gap: 40px;
  }
  @include abstracts.mq(800px) {
    flex-direction: row;
    justify-content: space-around;
  }
}

.two {
  padding: 4rem 0;
  background-color: abstracts.$ind;
  img {
    width: 60px;
  }
}

.icon_info {
  width: 400px;
  h2 {
    color: abstracts.$silver;
    margin: 0.5rem;
  }
  p {
    color: white;
    text-align: center;
  }
  @include abstracts.flex(column) {
    align-items: center;
    justify-content: center;
  }
  .icon__background {
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  img {
    display: inline;
  }
}

/// Section 2 End //////

/// Section 3 //////

.three .grid__wrap {
  display: grid;
  width: 75%;
  grid-template-columns: 1fr;
  grid-template-areas:
    "img1"
    "list"
    "img2"
    "info"
    "img3";
  @include abstracts.mq(750px) {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "img2 img2"
      "img1 list"
      "info info"
      "img3 img3";
  }
  @include abstracts.mq(1000px) {
    width: 90%;
    max-width: 950px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "img1 img1 info info"
      "img3 list img2 img2";
  }
}
.three {
  background-color: abstracts.$mYellow;
  padding: 4rem 0;

  .img1 {
    grid-area: img1;
    @include abstracts.mq(1000px) {
      background-image: url("../../images/food5.jpg");
      background-position: center;
      background-size: cover;
    }
    img {
      @include abstracts.mq(1000px) {
        display: none;
      }
    }
  }

  .img2 {
    grid-area: img2;
    @include abstracts.mq(1000px) {
      background-image: url("../../images/food2.jpg");
      background-position: center;
      background-size: cover;
    }
    img {
      @include abstracts.mq(1000px) {
        display: none;
      }
    }
  }

  .img3 {
    grid-area: img3;
    display: none;
    @include abstracts.mq(750px) {
      display: block;
    }
    @include abstracts.mq(1000px) {
      background-image: url("../../images/food3.jpg");
      background-position: center;
      background-size: cover;
    }
    img {
      @include abstracts.mq(1000px) {
        display: none;
      }
    }
  }
  .list1 {
    padding: 2rem 0;
    @include abstracts.mq(1000px) {
      padding: 6rem 1rem;
    }
    grid-area: list;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    ol {
      margin: 0;
      color: white;
      padding: 0;
      li + li {
        margin-top: 2rem;
      }
    }
    background-color: abstracts.$ind;
  }

  .three__info_card {
    grid-area: info;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    padding: 2rem 1rem;
    @include abstracts.mq(1120px) {
      padding: 2rem 3rem;
    }
    h2 {
      margin-bottom: 2.5rem;
      position: relative;
    }
    h2::after {
      content: "";
      height: 6px;
      display: block;
      position: absolute;
      bottom: -15px;
      width: 60%;
      background-color: abstracts.$mYellow;
    }
    a {
      margin-top: 2rem;
      text-decoration: none;
      text-transform: uppercase;
      color: black;
    }
  }
}

//// Stripes for Seperation Div ////

.stripe__seperator {
  height: 50px;
  background-image: repeating-linear-gradient(
    45deg,
    transparent 0 20px,
    black 20px 40px
  );
}

//// Stripes Div END //////

//// Section Four Start //////
.four {
  background-color: abstracts.$mYellow;
  padding: 4rem 0;

  .grid__wrap {
    display: grid;
    grid-template-columns: 1fr;
    width: 75%;
    max-width: 500px;

    @include abstracts.mq(1000px) {
      grid-template-columns: 1fr 1fr;
      width: 90%;
      max-width: 950px;
    }
  }

  .four__list {
    padding: 2rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .four__info_card {
    padding: 2rem;
    background-color: abstracts.$ind;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

//// Section four END ////

//// Section five START /////

.five {
  .wrap {
    max-width: 950px;
  }
  color: white;
  padding: 4rem 0;
  background-color: abstracts.$ind;
  .mission__card {
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    h3 {
      width: max-content;
      position: relative;
      padding-bottom: 0.5rem;
      margin: 1.5rem 0 2rem;
      &::after {
        content: "";
        display: block;
        position: absolute;
        height: 4px;
        background-color: abstracts.$mYellow;
        width: 110%;
        bottom: 0;
        right: 0;
      }
    }
  }
}

.six {
  .wrap {
    width: 100%;
    max-width: initial;
    display: grid;
    grid-template-columns: 1fr;
    @include abstracts.mq(750px) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}
