@use '../abstracts';

@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap");
$fjall: "Fjalla One", sans-serif;
$open: "Open Sans", sans-serif;

html {
  font-family: $open;
}

.one {
  h1 {
    font-size: 3.7rem;
    font-family: $fjall;
    color: abstracts.$ind;
  }
  p {
    font-size: 1.25rem;
    font-style: italic;
  }
  .one__card__text {
    a {
      font-size: 1.125rem;
    }
  }
}

.two {
  h2 {
    font-size: 2.56rem;
    font-family: $fjall;
  }
  p {
    font-size: 1.125rem;
  }
}

.three {
  li {
    font-size: 1.6875rem;
    font-weight: bold;
  }

  .three__info_card {
    h2 {
      font-size: 2.625rem;
      font-family: $fjall;
    }
    p {
      font-size: 1.125rem;
    }
  }
}

.four {
  h2 {
    font-family: $fjall;
    font-size: 4.25rem;
  }

  .four__list {
    h2 {
      color: abstracts.$ind;
    }
    li {
      font-size: 1.125rem;
      font-style: italic;
    }
  }

  .four__info_card {
    h2 {
      color: white;
    }

    p {
      color: white;
      font-style: italic;
      font-size: 1.25rem;
    }
  }
}

.five {
  h2 {
    text-transform: uppercase;
    font-size: 1.625rem;
  }
  h3 {
    font-size: 3.625rem;
    color: abstracts.$silver;
    text-transform: capitalize;
    font-family: $fjall;
  }
}
